name: lint markdown

on: [push, pull_request]

jobs:
  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set node version
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: Lint markdown
        run: npm run md-fix

      - name: Lint zh_CN
        run: npm run zh-fix

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_options: '--no-verify'
          commit_message: Fix markdown
          file_pattern: '*.md */*.md */*/*.md'
